body {
  min-height: 100vh;
  background-image: url("/backlogin.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* para que la card se lea bien */
.card {
  border-radius: 0.75rem;
  background-color: rgba(255, 255, 255, 0.92);
}
